<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: head ('글작성')"></head>

<body class="text-center d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>

<main class="form-signin" style="max-width: 100%;">
  <h1 class="h3 m-3 fw-normal">글쓰기</h1>

  <div class="container border rounded flex-md-row mb-4 shadow-sm h-md-250">
    <form>
      <div class="search_boxes">
        <div class="form-floating m-3">
          시/도 선택:
          <select name="city" id="city" onchange="categoryChange(this)">
            <option value>시/도 선택</option>
            <option value="강원">강원</option>
            <option value="경기">경기</option>
            <option value="경남">경남</option>
            <option value="경북">경북</option>
            <option value="광주">광주</option>
            <option value="대구">대구</option>
            <option value="대전">대전</option>
            <option value="부산">부산</option>
            <option value="서울">서울</option>
            <option value="울산">울산</option>
            <option value="인천">인천</option>
            <option value="전남">전남</option>
            <option value="전북">전북</option>
            <option value="제주">제주</option>
            <option value="충남">충남</option>
            <option value="충북">충북</option>
          </select>
        </div>


        <div class="form-floating m-3">
          군/구 선택 :
          <select name="state" id="state">
            <option>군/구 선택</option>
          </select>
        </div>
      </div>
      </hr>
      <div class="form-floating m-3">
        여행날짜
        <input type="date" name="startday" id="startday">
        -
        <input type="date" name="lastday" id="lastday">
      </div>

      <div class="form-floating m-3">
        모집 인원

        1<input type="range" name="pnum" id="pnum"  min="1" max="10" value="1">10
        <span id="value1" value="1"></span>명

      </div>
      <div class="form-floating m-3">
        사진 등록:
        <input type="file" name="picture" id="picture">
      </div>
      </hr>

      <div class="form-floating m-3">
        <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요." required>
        <label for="title">제목</label>
      </div>
      <div class="form-floating m-3">
        <textarea class="form-control" rows="5" id="content" style="height: 450px;"></textarea>
        <label for="content">내용</label>
      </div>

    </form>
    <button class="w-100 btn btn-lg btn-success" id="btn-save" style="max-width: 250px;">작성완료</button>

  </div>
</main>

<footer th:replace="layout/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:src="@{/js/board.js}"></script>
<script>
  var slider = document.getElementById("pnum");
  var output = document.getElementById("value1");
  output.innerHTML=slider.value;

  slider.oninput=function(){
    output.innerHTML = this.value;
  }
</script>
</body>

</html>