html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.myPage-click .myPage-1 {
    position: sticky;
    float: right;
    top: 80px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.16) 0px 0px 4px;
    width: 170px;

}